.titulo {
  display: grid;
  place-items: center;
}

.cards {
  width: 100%;
  height: 80vh;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  padding: 0;
  margin: 0 2em 0 0;
  border-radius: 0 0 1em 1em;
  overflow: hidden;

  li {
    list-style-type: none;
    display: inline-block;

    .card__bank {
      width: 100%;
      margin: 0 2em 0 0;
      border-radius: 0 0 1em 1em;

      &--title {
        background: #9fc2ec;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.8em;
        border-radius: 1em 1em 0 0;
        color: black;
        font-size: 1.5rem;
        font-weight: 500;
      }
      
      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }

      img {
        width: 100%;
        object-fit: cover;
        height: 19.5em;
      }
    }
  }
}

a {
  text-decoration: none;
}