<mat-toolbar class="titulo">
  <span>Escolha a operação</span>
</mat-toolbar>

<ul class="cards">
  <li>
    <a [routerLink]="['/banks']" routerLinkActive="router-link-active">
      <div class="card__bank">
          <span class="card__bank--title">Banco</span>
        <img src="assets/edificio.jpg" alt="image of a bank" />
      </div>
    </a>
  </li>
  
  <li>
    <a [routerLink]="['/banco']" routerLinkActive="router-link-active">
      <div class="card__bank">
        <div class="card__bank--title">
          <span>Conta</span>
        </div>
        <img src="assets/poupança.jpg" alt="image of a safe" />
      </div>
    </a>
  </li>
</ul>
